[submodule "Tokens/lib/forge-std"]
	path = Tokens/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Tokens/lib/openzeppelin-contracts"]
	path = Tokens/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
