[submodule "Tokens/lib/forge-std"]
	path = Tokens/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Tokens/lib/openzeppelin-contracts"]
	path = Tokens/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Tokens/lib/openzeppelin-contracts-upgradeable"]
	path = Tokens/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "Tokens/lib/openzeppelin-foundry-upgrades"]
	path = Tokens/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
